---
video:
  image: 'https://i.ytimg.com/vi/UlXzgKW3nAU/maxresdefault.jpg'
  source: assets/video/xchange.mp4
days:
  - tab_title: День ІБЦ
    tab_subtitle: 19.03.2020
    items:
      - time_copy: '18:00-21:00'
        title: Досвід служінь Ірпінської Біблійної Церкви
        description: 'Відкритий простір, вільне спілкування'
  - tab_title: День 1
    tab_subtitle: 20.03.2020
    items:
      - time_copy: '8:30-9:15'
        title: Реєстрація кава
      - time_copy: '9:15-10:00'
        title: >-
          Слово і прославлення (старший пастор ІБЦ – Микола Романюк, пастор ІБЦ 
          – Сергій Сологуб)
      - time_copy: '10:00-11:30'
        title: 'Загальна сесія: Як повернути церкву до благовістя'
        description: >-
          Юра Челик, церква Дім євангелія, м. Луцьк; Олександр Орищин,
          Спасо-преображенська церква, смт Гостомель (Київська обл.); та ін.
      - time_copy: '11:30-13:00'
        title: 'Ток-шоу: Оновлення церкви: як усунути перепони розвитку'
        description: >-
          Тарас Яремчук, церква Надія, м. Рівне; Павло Марченко, церква
          Воскресіння, м. Шостка (Сумська обл.); Микола Романюк, Ірпінська
          Біблійна Церква, м.Ірпінь; Олександр Ткачук, церква Фіміам, м. Луцьк
          ); Вячеслав Недзельський, церква Нова надія, м. Ужгород
      - time_copy: '13:00-14:00'
        title: Обідня перерва
      - time_copy: '14:00-15:30'
        title: Семінари (на вибір)
        description: >-
          <ul> <li>1. Благовістя через жіноче служіння (Зал)</li> <li>2. Для
          чого церкві медіа: Олена Нечипорук, церква Фіміам, м. Луцьк; Яся
          Сидорчук, Ірпінська Біблійна Церква, м. Ірпінь</li> <li>3. Церковні
          навчальні програми; Олександр Ткачук, церква Фіміам, м. Луцьк;
          Вячеслав Недзельський, церква Нова надія, м. Ужгород; Микола Романюк,
          Ірпінська Біблійна Церква, м. Ірпінь</li> </ul>
      - time_copy: '15:30-16:00'
        title: Кава-брейк
      - time_copy: '16:00-17:30'
        title: 'Загальна сесія: Благовістя через соціальне служіння'
        description: Благовістя через соціальне служіння
      - time_copy: '17:30-19:00'
        title: 'ок-шоу: Горизонти сімейного служіння'
        description: >-
          Андрій Терещенко, Ірпінська Біблійна Церква, м. Ірпінь; Андрій Реймер,
          церква Преображення, м. Київ; та ін.
      - time_copy: '19:00-19:45'
        title: Вечеря
      - time_copy: '19:45-21:00'
        title: 'Лаунж-зона: відпочинок, знайомство, прославлення'
  - tab_title: День 2
    tab_subtitle: 21.03.2020
    items:
      - time_copy: '8:30-9:15'
        title: Сніданок
      - time_copy: '9:15-10:00'
        title: Слово і прославлення
      - time_copy: '10:00-11:30'
        title: 'Загальна сесія: Цифрові технології на службі церкви'
        description: >-
          Сегій Сологуб, Ірпінська Біблійна Церква, м. Ірпінь (Програма бази
          даних - Спільнота); Олексій Головін, Ірпінська Біблійна Церква, м.
          Ірпінь (Програма для презентації під час  прославлення); Руслан
          Мартинець, церква Пробудження, м. Київ (Програма для прославлення,
          Програма 360 для самостійного вивчення Біблії на у групах)
      - time_copy: '11:30-12:30'
        title: 'Ток-шоу:  Здорові системи церковного керівництва'
        description: >-
          Микола Романюк, Ірпінська Біблійна Церква, м. Ірпінь; Павло Марченко,
          церква Воскресіння, м. Шостка (Сумська обл.); Вячеслав Недзельський,
          церква Нове життя, м. Ужгород
      - time_copy: '12:30-13:30'
        title: Обідня перерва
      - time_copy: '13:30-15:00'
        title: Семінари (на вибір)
        description: >-
          <ul> <li>1. Чому дошлюбне консультування необхідне церкві? </li>
          <li>2. Як церковне кафе впливає на спільноту: Олена Дуб, м. Борислав;
          Марина Юсупова, церква Нове життя, м. Черкаси; Анжеліка Колісник,
          Ірпінська Біблійна Церква, м. Ірпінь </li> <li>3. Гомілетичний
          сніданок: Станіслав Ґрунтковський та Микола Романюк, Ірпінська
          Біблійна Церква, м. Ірпінь </li> </ul>
      - time_copy: '15:00-16:15'
        title: 'Загальна сесія: Продумане прославлення: осмислюємо церковне поклоніння'
        description: >-
          Даниїл Ярмак, церква Алмаз, м. Київ; Роман Куделін, церква
          Преображення, м. Київ; Андрій Терещенко, Ірпінська Біблійна Церква, м.
          Ірпінь
      - time_copy: '16:15-16:30'
        title: Завершення
sponsors:
  - href: 'http://biblechurch.com.ua/'
    image: assets/img/sponsors/sponsor-big-1.jpg
  - href: 'https://www.golgotha.lutsk.ua/'
    image: assets/img/sponsors/sponsor-big-2.jpg
  - href: 'http://www.newlife.ck.ua/'
    image: assets/img/sponsors/sponsor-big-3.jpg
  - href: 'http://fimiam.lutsk.ua/'
    image: assets/img/sponsors/sponsor-big-4.jpg
  - href: 'http://almaz.in.ua/'
    image: assets/img/sponsors/sponsor-big-5.jpg
  - href: 'http://clz.org.ua/'
    image: /uploads/clz.jpeg
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>xChange-2020 | Обмін досвідом для поширення Божого Царства</title>
    <meta name="description" content="Разом шукаємо відповідь 'Як церкві ефективно служити у поширенні Євангелія?'">
    <meta name="keywords" content="xChange, ІБЦ, конференція">
    <meta name="author" content="Ірпінська біблійна церква">
    <meta property="og:title" content="xChange-2020 | Обмін досвідом для поширення Божого Царства"/>
    <meta property="og:description" content="Разом шукаємо відповідь 'Як церкві ефективно служити у поширенні Євангелія?'"/>
    <meta property="og:site_name" content="xChange-2020"/>
    <meta property="og:image" content="./assets/img/bn.jpg"/>
    <meta property="twitter:title" content="xChange-2020 | Обмін досвідом для поширення Божого Царства"/>
    <meta property="twitter:description" content="Разом шукаємо відповідь 'Як церкві ефективно служити у поширенні Євангелія?'"/>
    <meta property="twitter:image" content="./assets/img/bn.jpg"/>
    <link rel="apple-touch-icon" sizes="57x57" href="./favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="manifest" href="./favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/custom-animations.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css?v=4" />
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .nowrap {
            white-space: nowrap;
        }

        .telegram-logo {
            display: inline-block;
            vertical-align: middle;
            max-width: none;
        }

        .bg1 {
            text-shadow: 3px 3px 15px black;
        }
        .bg1 a {
            text-shadow: none;
        }

        #contacts-map-1 {
            background-color: #eee;
            background-position: top center;
            background-image: url(./assets/img/backgrounds/contacts-map-1.jpg);
            -webkit-background-size: cover;
            background-size: cover;
            cursor: default;
        }

        @media (min-width: 576px) {
            #contacts-map-1 {
                background-position: top right;
            }
        }

        .tab-pane .tab-content {
            display: none;
        }

        .tab-pane.active .tab-content {
            display: block;
        }

        .footer-base .socials-nav {
            position: static;
        }

        h1, h2, h4, h5 {
            letter-spacing: inherit;
        }

        .panel-title {
            margin-bottom: 0;
        }

        .panel-group .panel .panel-heading a {
            text-decoration: none;
        }

        .panel-group .panel .panel-heading a:hover {
            background-color: #fe4918;
            color: #fff;
        }

        .panel-group .panel .panel-heading + .panel-collapse .panel-body {
            display: none;
        }

        .panel-group .panel .panel-heading + .panel-collapse.in .panel-body {
            display: block;
        }

        .navbar-collapse {
            display: none;
        }

        .navbar-collapse.in {
            display: block;
        }

            @media (min-width: 768px) {
                .navbar-collapse {
                    display: block;
                }
            }

        .buy-btn {
            display: none !important;
        }

            @media (max-width: 767px) {
                .buy-btn {
                    display: inline-block !important;
                }
            }

            @media (min-width: 992px) {
                .buy-btn {
                    display: inline-block !important;
                }
            }

        .navbar-toggle {
            display: none;
        }

            @media (max-width: 767px) {
                .navbar-toggle {
                    display: inline-block;
                }
            }

        .logo {
            vertical-align: middle;
        }

        .footer-nav .navigation-link {
            color: #fff !important;
        }
    </style>
</head>

<body>
    <div class="preloader-mask">
        <div class="preloader"></div>
    </div>

    <section id="hero" class="hero-section bg1 bg-cover window-height light-text">
        <ul class="socials-nav">
            <li class="socials-nav-item">
                <a href="https://www.facebook.com/events/1465372363638761/" target="_blank">
                    <span class="fa fa-facebook"></span>
                </a>
            </li>
            <li class="socials-nav-item">
                <a href="https://instagram.com/xchangeconf" target="_blank">
                    <span class="fa fa-instagram"></span>
                </a>
            </li>
            <li class="socials-nav-item">
                <a href="https://t.me/xchangeconf" target="_blank">
                    <img src="assets/img/telegram-logo.svg" width="20" class="telegram-logo"/>
                </a>
            </li>
        </ul>

        <a href="https://xchange.ticketforevent.com/uk/" class="btn btn-primary btn-header-register" target="_blank">
            Реєстрація
        </a>

        <div class="heading-block centered-block align-center">
            <div class="container">
                <h5 class="heading-alt" style="margin-bottom: 8px;"><span class="fa fa-calendar-o base-clr-txt"></span>20-21 березня <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>Ірпінь</h5>

                <h1 class="middle-heading">xChange-2020</h1>

                <h6 class="thin base-font">
                    <strong>
                    обмін церковним досвідом
                    </strong>
                    <br>
                    <strong>
                        для поширення Божого царства
                    </strong>
                </h6>

                <div class="btns-container">
                    <!-- <a href="http://biblechurch.com.ua/xchange/" target="_blank" class="btn btn-md">
                        РЕЄСТРАЦІЯ 
                    </a> -->
                    <!-- <a href="#" class="btn btn-outline btn-md" data-modal-link="0">VIDEO</a> -->
                </div>
            </div>
        </div>
    </section>

    <header class="header header-black">
        <div class="header-wrapper">
            <div class="container">
                <div class="col-sm-2 col-xs-12 navigation-header navbar-header">
                    <a href="/" class="logo">
                        <img src="assets/img/logo.png" alt="xchange" width="138" height="54">
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-controls="navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="col-sm-10 col-xs-12 navigation-container">
                    <div id="navigation" class="navbar-collapse collapse">
                        <ul class="navigation-list pull-left light-text">
                            <li class="navigation-item"><a href="#horizontal_tab1" class="navigation-link">Про нас</a></li>
                            <li class="navigation-item"><a href="#schedule" class="navigation-link">Розклад дня</a></li>
                            <li class="navigation-item"><a href="#feedback" class="navigation-link">Відгуки</a></li>
                            <li class="navigation-item"><a href="#gallery" class="navigation-link">Галерея</a></li>
                            <li class="navigation-item"><a href="#sponsors" class="navigation-link">Партнери</a></li>
                            <li class="navigation-item"><a href="#contacts" class="navigation-link">Контакти</a></li>
                        </ul>
                        <a href="https://xchange.ticketforevent.com/uk/" class="btn btn-primary pull-right buy-btn" target="_blank">
                            Реєстрація
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="about" class="section align-center">
        <div class="container">
            <span class="icon section-icon icon-multimedia-12"></span>
            <h3>Ефективна церква у поширенні Божого Царства</h3>
            <p class="text-alt">Чому ми стали іцініаторами xChange-2020</p>
            <br />
            <br />

            <div class="tabs-wrapper tabs-horizontal">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#horizontal_tab1" data-toggle="tab">
                        <h6 class="heading-alt"><span class="fa fa-code"></span> Загальна інформація</h6>
                    </a></li>
                    <!-- <li><a href="#horizontal_tab2" data-toggle="tab">
                        <h6 class="heading-alt"><span class="fa fa-rocket"></span> Workshops</h6>
                    </a></li>
                    <li><a href="#horizontal_tab3" data-toggle="tab">
                        <h6 class="heading-alt"><span class="fa fa-external-link"></span> Sponsor info</h6>
                    </a></li> -->
                </ul>

                <div class="tab-content">
                    <div id="horizontal_tab1" class="tab-pane fade active in">
                        <div class="col-sm-5 img-column">
                            <img src="assets/img/about_us.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="col-sm-7 align-left">
                            <h6>Про нас</h6>
                            <p>Одна з найдорожчих сучасних валют - це час. А у динаміці служіння він проходить неймовірно швидко. Зустрічі команд, молитви, планування. Але наскільки цей час ми витрачаємо ефективно? Наскільки той вектор, який ми обираємо для розвитку церковної спільноти, або свого служіння, приведе нас до бажаної мети - поширення Божого Царства. Що і як можна починити або налагодити у церковному механізмі, щоб ваше місто більше дізнавалося про Спасителя Ісуса? 
                            <br/><br/>
                            Підозрюємо, що ви не раз задавалися схожими запитаннями, обдумували їх з спільниками, шукали відповіді у літературі і інтернеті.
                            <br/><br/>
                            Не ви одні. Ось вже третій рік поспіль Ірпінська Біблійна Церква стає ініціатором створення майданчику для обміну досвіду церковного служіння. Зустріч проводиться у форматі "антиконференції". Так, у нас передбачаються теми для семінарів і панельних дискусій. Але ми за гнучкість - кожен має право задати питання, висловити думку або розказати про свій набутий досвід  у сфері церковного життя. Наша ціль - практична цінність кожної дискусії.
                            <br/><br/>
                            Минулого року ми обговорювали теми - церковні документи та бюджет, організація церковної команди, різні напрямки служіння (дитяче, молодіжне, сімейне, інше). Про це ви можете дізнатися та ознайомитися на нашому каналі .
                            <br/><br/>
                            Цьогоріч ми змінюємо перелік служінь та базові команди, які будуть занурювати у свій досвід - процес досягнення успіху і набиття шишок, а також розширюємо топіки для загальних обговорень.
                            <br/><br/>
                            Кому потрібно завітати до нас: актив церкви, що бажає осучаснити свої служіння, набратися ідей, навчитися примножувати свої можливості.
                            <br/><br/>
                            І пам'ятайте, #ЦеркваВіри - #ЦеркваДії.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="video"></section>

    {% include schedule.html %}

    <section id="feedback" class="section align-center" style="padding-top: 25px;">
        <div class="container">
            <h5 class="heading-alt">Відгуки</h5>
            <p class="text-alt" style="margin-bottom: 80px;">Що розповідали про xChange-2019</p>

            <div class="row clearfix">
                <div class="col-sm-4">
                    <div class="testimonial">
                        <article class="text-box">Мотивом конференції xChange є цінність навчання, розвитку у співпраці і взаємодопозі. Досвід служіння може надихати, корегувати, застерігати, мотивувати. Ми радіємо можливості розділити цю цінність з командами багатьох церков з усіх регіонів України. Мріємо, щоб конференції з обміну церковним досвідом стали постійною практикою, бо саме добрі і не дуже приклади інших церков навчали нас, надихали і застерігали. Бо ми хочемо так само, як і колись, щоб "Церкви зміцнювалися в вірі, і щоденно зростали кількістю" Дії 16:5.
                        </article>
                        <div class="author-block">
                            <div class="photo-container" style="background-image: url('assets/img/testimonials/client1.jpg')"></div>

                            <strong class="name">Микола Романюк, старший пастор ІБЦ</strong>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="testimonial">
                        <article class="text-box">Відвідали xChange - обмін церковним досвідом в Ірпінській біблійній церкві. Почули досвід служіння і церковного устрою ІБЦ. Класна та корисна ініціатива, варто розвивати!</article>
                        <div class="author-block">
                            <div class="photo-container" style="background-image: url('assets/img/testimonials/client2.jpg')"></div>

                            <strong class="name">Павло Токарчук, керівник факультету розвитку молодих лідерів УБТС, лідер УБЦ, м. Львів</strong>
                        </div>
                    </div>
                </div>
                                <div class="col-sm-4">
                    <div class="testimonial">
                        <article class="text-box">Для мене xChange - платформа комунікації (особливо діалогу), дружби, розвитку. Особливим чином цей проект  виділяється тим, що тут церковні команди формують один одного,  ділячись як успіхом так і невдачами.
                         Таким чином, практичні кейси роблять тези зрозумілішими, а застосування нагляднішим.</article>
                        <div class="author-block">
                            <div class="photo-container" style="background-image: url('assets/img/testimonials/client3.jpg')"></div>

                            <strong class="name">Мирослав Волосецький, проповідник, лідер, Ірпінська Біблійна Церква</strong>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <section id="register" class="section overlay overlay-clr bg-cover bg4 light-text align-center">
        <div class="container">
            <!-- <h2>Реєструйтеся прямо зараз!</h2>
            <p>Ви можете стати учасником конференції, якщо вчасно зареєструєтеся, а саме до 17 березня.</p>
            <br />
            <br />

            <a href="http://biblechurch.com.ua/xchange/" target="_blank" class="btn btn-lg btn-outline">Я готовий!</a> -->
        </div>
    </section>

    <section id="gallery" class="section align-center">
        <div class="container">
            <span class="icon section-icon icon-badges-votes-01"></span>
            <h3>Декілька фото з xChange-2019</h3>
            <p class="text-alt">Як це відбувалося минулого року</p>
            <br/>
            <div class="gallery masonry">
                <span class="masonry-item">
                    <a href="#" class="gallery-thumb-link" data-modal-link="gallery-1">
                        <img src="assets/img/gallery/gallery1.jpg" alt="">
                    </a>

                    <div class="modal-window" data-modal="gallery-1">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                            <span class="close-btn icon icon-office-52"></span>
                            <img src="assets/img/gallery/gallery1.jpg" class="full-width-img" alt="gallery1">
                        </div>
                    </div>
                </span>
                <span class="masonry-item">
                    <a href="#" class="gallery-thumb-link" data-modal-link="gallery-2">
                        <img src="assets/img/gallery/gallery2.jpg" alt="">
                    </a>

                    <div class="modal-window" data-modal="gallery-2">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                            <span class="close-btn icon icon-office-52"></span>
                            <img src="assets/img/gallery/gallery2.jpg" class="full-width-img" alt="gallery1">
                        </div>
                    </div>
                </span>
                <span class="masonry-item">
                    <a href="#" class="gallery-thumb-link" data-modal-link="gallery-3">
                        <img src="assets/img/gallery/gallery3.jpg" alt="">
                    </a>
                    <div class="modal-window" data-modal="gallery-3">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                            <span class="close-btn icon icon-office-52"></span>
                            <img src="assets/img/gallery/gallery3.jpg" class="full-width-img" alt="gallery1">
                        </div>
                    </div>
                </span>
                <span class="masonry-item">
                    <a href="#" class="gallery-thumb-link" data-modal-link="gallery-4">
                        <img src="assets/img/gallery/gallery4.jpg" alt="">
                    </a>

                    <div class="modal-window" data-modal="gallery-4">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                            <span class="close-btn icon icon-office-52"></span>
                            <img src="assets/img/gallery/gallery4.jpg" class="full-width-img" alt="gallery1">
                        </div>
                    </div>
                </span>
                <span class="masonry-item">
                    <a href="#" class="gallery-thumb-link" data-modal-link="gallery-5">
                        <img src="assets/img/gallery/gallery5.jpg" alt="">
                    </a>
                    <div class="modal-window" data-modal="gallery-5">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                            <span class="close-btn icon icon-office-52"></span>
                            <img src="assets/img/gallery/gallery5.jpg" class="full-width-img" alt="gallery1">
                        </div>
                    </div>
                </span>
                <span class="masonry-item">
                    <a href="#" class="gallery-thumb-link" data-modal-link="gallery-6">
                        <img src="assets/img/gallery/gallery6.jpg" alt="">
                    </a>
                    <div class="modal-window" data-modal="gallery-6">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                            <span class="close-btn icon icon-office-52"></span>
                            <img src="assets/img/gallery/gallery6.jpg" class="full-width-img" alt="gallery1">
                        </div>
                    </div>
                </span>
                <span class="masonry-item">
                    <a href="#" class="gallery-thumb-link" data-modal-link="gallery-7">
                        <img src="assets/img/gallery/gallery7.jpg" alt="">
                    </a>
                    <div class="modal-window" data-modal="gallery-7">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                            <span class="close-btn icon icon-office-52"></span>
                            <img src="assets/img/gallery/gallery7.jpg" class="full-width-img" alt="gallery1">
                        </div>
                    </div>
                </span>

                <span class="masonry-item">
                    <a href="#" class="gallery-thumb-link" data-modal-link="gallery-8">
                        <img src="assets/img/gallery/gallery8.jpg" alt="">
                    </a>
                    <div class="modal-window" data-modal="gallery-8">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                            <span class="close-btn icon icon-office-52"></span>
                            <img src="assets/img/gallery/gallery8.jpg" class="full-width-img" alt="gallery1">
                        </div>
                    </div>
                </span>

                <span class="masonry-item">
                    <a href="#" class="gallery-thumb-link" data-modal-link="gallery-9">
                        <img src="assets/img/gallery/gallery9.jpg" alt="">
                    </a>
                    <div class="modal-window" data-modal="gallery-9">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                            <span class="close-btn icon icon-office-52"></span>
                            <img src="assets/img/gallery/gallery9.jpg" class="full-width-img" alt="gallery1">
                        </div>
                    </div>
                </span>

                <span class="masonry-item">
                    <a href="#" class="gallery-thumb-link" data-modal-link="gallery-10">
                        <img src="assets/img/gallery/gallery10.jpg" alt="">
                    </a>
                    <div class="modal-window" data-modal="gallery-10">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                            <span class="close-btn icon icon-office-52"></span>
                            <img src="assets/img/gallery/gallery10.jpg" class="full-width-img" alt="gallery1">
                        </div>
                    </div>
                </span>

                <span class="masonry-item">
                    <a href="#" class="gallery-thumb-link" data-modal-link="gallery-11">
                        <img src="assets/img/gallery/gallery11.jpg" alt="">
                    </a>
                    <div class="modal-window" data-modal="gallery-11">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                            <span class="close-btn icon icon-office-52"></span>
                            <img src="assets/img/gallery/gallery11.jpg" class="full-width-img" alt="gallery1">
                        </div>
                    </div>
                </span>

                <span class="masonry-item">
                    <a href="#" class="gallery-thumb-link" data-modal-link="gallery-12">
                        <img src="assets/img/gallery/gallery12.jpg" alt="">
                    </a>
                    <div class="modal-window" data-modal="gallery-12">
                        <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                            <span class="close-btn icon icon-office-52"></span>
                            <img src="assets/img/gallery/gallery12.jpg" class="full-width-img" alt="gallery1">
                        </div>
                    </div>
                </span>
            </div>

        </div>
    </section>

    <section id="faqs" class="section align-center">
        <div class="container">
            <img src="assets/img/question.svg" width="60" class="question.svg"/>
            <h3>FAQs</h3>
            <p class="text-alt">У вас є питання? А ми вже знаємо відповідь</p>

            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapseOne">
                      Чи можна зареєструвати команду, якщо я їду не сам (а)?
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <!-- Так. Ви можете зареєструвати будь-яку кількість осіб, і Ваша реєстрація вважатиметься завершеною якщо: - ви заповнили форму реєстрації на кожного учасника команди окремо <a href="http://biblechurch.com.ua/xchange/" target="_blank"> (посилання на форму реєстрації:http://biblechurch.com.ua/xchange/) </a>та - оплатили внесок у відповідному розмірі (див. передостаннє питання в формі). -->
          Так. Ви можете зареєструвати будь-яку кількість осіб, і Ваша реєстрація вважатиметься завершеною якщо: - ви заповнили форму реєстрації на кожного учасника команди окремо та оплатили внесок у відповідному розмірі (див. передостаннє питання в формі).
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapseTwo">
                      Чи можливо внести реєстраційне пожертвування при приїзді? 
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Нажаль ні, оскільки 
                            • організатори хочуть потурбуватися про комфортне перебування кожного учасника конференції, тому місця для проживання, харчування та інші ресурси готуються заздалегідь.
                            • оскільки завершеною реєстрація вважається лише з пожертвою, то ви потрапляєте у запасний список.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapseThree">
                      Чи можу відвідати конференцію один день? 
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                   Не рекомендуємо. Це заважає цілісному сприйняттю всього, що відбуватиметься на конференції і не принесе тієї користі, як це задумано. 
                  </div>
                </div>
              </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapseFive">
                        Які служіння будуть представлені? 
                      </a>
                    </h4>
                  </div>

                  <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>• Пасторське</li>
                            <li>• Оновлення церкви</li>
                            <li>• Прославлення</li>
                            <li>• Благовістя</li>
                            <li>• Жіноче служіння</li>
                            <li>• Дошлюбне консультування</li>
                            <li>• Сімейне служіння</li>
                            <li>• Соціальне служіння</li>
                            <li>• Богослужіння</li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapsesix">
                        Чи будуть представлені конкретні ідеї і практичні ресурси для служінь?
                      </a>
                    </h4>
                  </div>
                  <div id="collapsesix" class="panel-collapse collapse">
                    <div class="panel-body">
                        Так, звичайно. Це і є ціль конференції. 
                            Вкінці можна буде замовити флешку  з різними ресурсами.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapseseven">
                        Для кого саме конференція і чи можна мені приїхати, якщо я не лідер ?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseseven" class="panel-collapse collapse">
                    <div class="panel-body">
                        Якщо ви вже активно служите і хточете ще краще, то це саме для вас! Але по справжньому корисна конференція буде якщо ви приїдете з командою служителів..
                      </div>
                    </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapseeight">
                        Чи можуть сестри і чи буде для них це корисно?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseeight" class="panel-collapse collapse">
                    <div class="panel-body">
                      Так, звісно. Якщо вони активно задіяні в служінні. 
                    </div>
                  </div>
                </div>
                <p class="text-alt">ЯКЩО ВИ НЕ ЗНАЙШЛИ ВІДПОВІДІ НА ПИТАННЯ ЩОДО КОНФЕРЕНЦІЇ, ПИШІТЬ АБО ТЕЛЕФОНУЙТЕ НАМ.</p>
            </div>
        </div>
    </section>

    <section id="sponsors" class="section align-center">
        <div class="container">
            <span class="icon section-icon icon-documents-bookmarks-12"></span>
            <h3>Наші партнери</h3>
            <p class="text-alt">І співорганізатори проведення xChange-2020</p>
            <br/>
            <br/>
            {% include sponsors.html %}
        </div>
    </section>

    <section id="contacts">
        <div class="contacts-wrapper">
            <div id="contacts-map-1" style="height:560px;">
            </div>
            <div class="container contacts-on-map-container">
                <div class="contacts-on-map">
                    <h3>Де ми знаходимося</h3>

                    <ul class="list">
                        <li><i class="fa fa-map-marker"></i>Вул. Соборна-1, Ірпінь, Київська обл.</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:irpinchurch@gmail.com">irpinchurch@gmail.com</a></li>
                        <li><i class="fa fa-phone"></i><a href="tel:+380687674034">+380 68 767 40 34</a></li>
                        <li><i class="fa fa-clock-o"></i>9.00-18.00</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section overlay overlay-clr bg-cover bg4 light-text align-center">
        <div class="container">
            <h2>Зарезервуйте дату наступного xChange: <span class="nowrap">19-20.03.2021</span></h2>
            <p>Планування - це добре. А планування заздалегідь - ще краще.</p>
        </div>
    </section>

    <div class="footer-base">
        <div class="container">
            <ul class="footer-nav text-center">
                    <li class="navigation-item">
                    <a href="#horizontal_tab1" class="navigation-link">Про нас</a>
                    </li>
                    <li class="navigation-item"><a href="#schedule" class="navigation-link">Розклад дня</a></li>
                    <li class="navigation-item"><a href="#feedback" class="navigation-link">Відгуки</a></li>
                    <li class="navigation-item"><a href="#gallery" class="navigation-link">Галерея</a></li>
                    <li class="navigation-item"><a href="#sponsors" class="navigation-link">Партнери</a></li>
                    <li class="navigation-item"><a href="#contacts-map-1" class="navigation-link">Контакти</a>
                    </li>
            </ul>

            <div class="row">
                <ul class="socials-nav">
                    <li class="socials-nav-item">
                        <a href="https://www.facebook.com/events/1465372363638761/" target="_blank">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li class="socials-nav-item">
                        <a href="https://instagram.com/xchangeconf" target="_blank">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                    <li class="socials-nav-item">
                        <a href="https://t.me/xchangeconf" target="_blank">
                            <img src="./assets/img/telegram-logo.svg" width="20" class="telegram-logo"/>
                        </a>
                    </li>
                </ul>

                <p class="text-alt text-center"><small>Всі права захищено, 2020</small></p>
            </div>
        </div>
    </div>

    <div class="modal-window" data-modal="email-ticket" style="background-color: rgba(2, 2, 2, 0.85);">
        <div class="modal-box small animated" data-animation="zoomIn" data-duration="700">
            <span class="close-btn icon icon-office-52"></span>

            <h5 class="align-center"><span class="highlight">Event Registration</span></h5>

            <form class="form registration-form align-center">

                <fieldset class="col-sm-12">
                    <label for="first_name">First Name</label>
                    <input id="first_name" name="first_name" type="text">
                </fieldset>

                <fieldset class="col-sm-12">
                    <label for="last_name">Last Name</label>
                    <input id="last_name" name="last_name" type="text">
                </fieldset>

                <fieldset class="col-sm-12">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email">
                </fieldset>

                <fieldset class="col-sm-6">
                    <label for="pass1">Ticket type</label>
                    <select id="pass1" name="pass1">
                        <option value="" selected disabled>-- Select --</option>
                        <option value="0">Early Bird</option>
                        <option value="1">Silver Pass</option>
                        <option value="2">Gold Pass</option>
                        <option value="3">Ultimate Mega Ultra Legendary Pass</option>
                    </select>
                </fieldset>

                <fieldset class="col-sm-6">
                    <label for="pass2"># tickets</label>
                    <select id="pass2" name="pass2">
                        <option value="a">Variant A</option>
                        <option value="b">Variant B</option>
                        <option value="c">Variant C</option>
                        <option value="d">Variant D</option>
                        <option value="e">Variant E</option>
                        <option value="f" disabled>Variant F</option>
                        <option value="g">Variant G</option>
                        <option value="h">Variant H</option>
                        <option value="i">Variant I</option>
                        <option value="j">Variant J</option>
                        <option value="k">Variant K</option>
                        <option value="l">Variant L</option>
                        <option value="m">Variant M</option>
                    </select>
                </fieldset>

                <fieldset class="col-sm-12">
                    <input id="privacy" name="privacy" type="checkbox"><label for="privacy">I read & agree with <a href="#">Terms of service</a> </label>
                    <br />
                    <br />
                </fieldset>

                <input type="submit" value="submit" class="btn">
            </form>

        </div>
    </div>

    <!--[if lt IE 9]>
        <script type="text/javascript" src="assets/js/jquery-1.11.3.min.js?ver=1"></script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
        <script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
    <!--<![endif]-->

    <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="assets/js/toastr.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.appear.js"></script>
    <script type="text/javascript" src="assets/js/jquery.plugin.js"></script>
    <script type="text/javascript" src="assets/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/js/modal-box.js"></script>
    <script type="text/javascript" src="assets/js/ventcamp.js"></script>

    <script>
        $(window).load(function() {
            setTimeout(function() {
                $('section#video').html([
                    '<video muted loop autoplay playsinline poster="{{ page.video.image }}">',
                        '<source src="{{ page.video.source }}" type="video/mp4" />',
                    '</video>'
                ].join(''))
            }, 2000)
        })
    </script>
</body>
</html>
