<section id="schedule" class="section schedule-section align-center">
  <div class="container">
    <span class="icon section-icon icon-office-21"></span>
    <h3>Розклад дня</h3>

    <div class="schedule">
      <ul class="nav nav-schedule">
        {% for day in page.days %}
        <li class="{% if forloop.index == 1 %}active{% endif %}">
          <a href="#day{{ forloop.index }}" data-toggle="tab">
            <h5 class="highlight">{{ day.tab_title }}</h5>
            <p class="text-alt">{{ day.tab_subtitle }}</p>
          </a>
        </li>
        {% endfor %}
      </ul>

      <div class="tab-content">
        {% for day in page.days %}
        {% assign day_index = forloop.index %}
        <div id="day{{ day_index }}" class="tab-pane {% if day_index == 1 %}fade active in{% endif %}">
          <div class="tab-content tab-content-schedule">
            <div id="day{{ day_index }}_auditorium1" class="tab-pane fade active in">
              <div class="panel-group" id="day{{ day_index }}_auditorium1_timeline">
                {% for item in day.items %}
                <div class="panel schedule-item">
                  <div class="lecture-icon-wrapper"></div>
                  <div class="schedule-item-toggle">
                    <strong class="time highlight"><span class="icon icon-office-24"></span>{{ item.time_copy }}</strong>
                    <div class="title">
                        <h6>{{ item.title }}</h6>
                        {{ item.description }}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
