<div class="sponsors">
  {% for item in page.sponsors %}
  <div class="sponsor big">
    <a href="{{ item.href }}" target="_blank"> 
      <img src="{{ item.image }}">
    </a>
  </div>
  {% endfor %}
</div>
